<br>
<br>
<div>
<!-- Page Header -->
<header [@previewAnimation1]="this.viewExpand" class="masthead" style="background-image: url('../../assets/images/gears.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Projects</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <article  [@previewAnimation2]="this.viewExpand" class="articleHolder">
        <div class="allProjects">
            <div class="container-fluid">
                <div class="row">
                    <div class="buttonHolder col-xs-4 col-sm-4 col-md-4">
                        <a *ngIf="this.viewExpand" id="button1" (click)="this.prevProj()">&lt;&lt;</a>
                        <a *ngIf="this.viewExpand" id="button1" (click)="this.nextProj()">&gt;&gt;</a>
                        <a *ngIf="!this.viewExpand" id="button1" class="extra" (click)="this.expandView()">
                            Expand to See More
                        </a>
                        <a *ngIf="this.viewExpand" id="button1" class="extra" (click)="this.expandView()">
                            Close
                        </a>
                    </div>
                </div>
            </div>
            <div *ngIf="this.viewExpand" [@routeAnimationProject]="this.prepRouteStateProject(routerOutletProject)">
                <router-outlet #routerOutletProject="outlet"></router-outlet>
            </div>
        </div>
    </article>
</div>
