@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('../../assets/styles/style.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
p.info-zone {
  word-wrap: break-word;
}

.eduLogo {
  animation: App-logo-spin infinite 3s linear;
  -webkit-animation: App-logo-spin infinite 3s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#PDFDownload {
  text-align: center;
  display: inline-block;
  padding: 1vh 1vw;
  color: white;
  background: teal;
  text-decoration: none;
  margin: 1vh 2vw;
  font-size: 1em;
  letter-spacing: 0.1em;
  border-radius: 3px;
}

#PDFDownload:hover {
  box-shadow: 0 0 0 2px #fff inset, 0 0 0 4px #222 inset;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 1vh 1vw;
  color: white;
  background: teal;
  margin: 2px;
  font-size: 1em;
  letter-spacing: 0.1em;
  border-radius: 3px;
  text-decoration: none;
  /* -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36); */
}

a#button1:hover {
  box-shadow: 0 0 0 2px, 0 0 0 4px #222;
  color: white;
}
