<br>
<br>
<br>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px; height:auto;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <!-- Change slashes for different platforms -->
          <img src="../../assets/images/sanFran.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-topleft w3-container w3-text-black">
            <!-- Font color black -->
            <h2 style="color: #000000">Sammy Al Hashemi</h2>
          </div>
        </div>
        <div class="w3-container">
          <p>
            <i class="fa fa-code fa-fw w3-margin-right w3-large w3-text-teal"></i>Device Characterization Engineer</p>
          <!-- Google Home Icon; used &emsp for tab spaces -->
          <p class="info-zone">
            <i class="material-icons" style="color:teal">home</i>&emsp;Mississauga, Ontario, Canada</p>
          <p class="info-zone">
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>sammy.alhashemi@mail.utoronto.ca</p>
          <p class="info-zone">
            <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(408)-908-9512</p>
          <!-- A Literal Line division inserted -->
          <hr>
          <p class="w3-large">
            <b>
              <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
          </p>
          <button (click)="this.toggler()">ANIMATE</button>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small" [@loadanimation]="this.toggleState">
            <div class="w3-container w3-center w3-round-xlarge w3-teal score" style="width:70%">70%</div>
          </div>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small" [@loadanimation1]="this.toggleState">
            <div class="w3-container w3-center w3-round-xlarge w3-teal score" style="width:60%">
              <div class="w3-center w3-text-white">60%</div>
            </div>
          </div>
          <p>Swift3</p>
          <div class="w3-light-grey w3-round-xlarge w3-small" [@loadanimation1]="this.toggleState">
            <div class="w3-container w3-center w3-round-xlarge w3-teal score" style="width:60%">60%</div>
          </div>
          <p>HTML-CSS-Javascript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small" [@loadanimation2]="this.toggleState">
            <div class="w3-container w3-center w3-round-xlarge w3-teal score" style="width:40%">40%</div>
          </div>
          <!-- A Line Break -->
          <br>
          <p class="w3-large w3-text-theme">
            <b>
              <i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
          </p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <!-- A Line Break -->
          <br>
        </div>
      </div>
      <br>
      <!-- End Left Column -->
    </div>
    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Device Characterization and Product Engineering Intern</b>,
            <i>Microsemi Corp</i>.</h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2017 -
            <span class="w3-tag w3-teal w3-round">Present</span>
          </h6>
          <p>I am currently working on a collaborative team to develop test structures and designs to test and characterize
            Microsemi FPGA products, specifically their G5 product. I have three main components (projects) within the FPGA
            for which I am developing the test structures and designs. I take part in weekly meetings where I give my updates
            and also collaborate with a subset of my team in India. I perform design creation, design simulation, and design
            testing at offsite vendors to fully characterize the component I am working on.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Undergraduate Research Assistant</b>,
            <i>University of Toronto, AP
              <sub>2</sub>D Labs</i>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2015 - Sept 2016</h6>
          <p>In 2015, I assisted a graduate student in his research in a photovoltaics lab by helping him with the machinery
            and also coding numerical solvers for him. I conveyed recommendations to him by means of a detailed report on
            numerical methods recommended, and also with methods already tried and implemented. In 2016, I worked with modelling
            language LAMMPS to simulate different the behavior of different gaseous substances being introduced to a carbon
            substrate in order to develop the any understanding if the graphene production process can be synthesized at
            lower temperatures using AiMS instead of the normal, energy intensive, CVD process.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Junior Tennis Coach</b>,
            <i>Ontario Racquet Club/Pine Point Tennis Club</i>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2011 - Sept 2014</h6>
          <p>Supervisor(s): Giulio Morelli (Tennis Canada Coach Level 5) (647)-404-0248</p>
          <br>
        </div>
      </div>
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h4 class="w3-opacity">
            <b>University of Toronto</b>
          </h4>
          <h5 class="w3-opacity">
            <b>Bachelor of Applied Science and Engineering</b>,
            <i>Department of Engineering Science</i>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2014 - Present</h6>
          <p>
            Enrolled in the Engineering Science Program. I chose the Physics option which focuses on engineering design with major physics
            applications
            <br>
            <b>cGPA:</b>
            <i>3.56</i>
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity">
            <b>Mentor College</b>,
            <i>High School</i>
          </h4>
          <h5 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2017</h5>
          <p>
            <b>High School Diploma</b>
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h4 class="w3-opacity">
            <b>Coursera</b>
          </h4>
          <h5 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>2017</h5>
          <p>
            <b>Courses Taken:</b>
            <br>
            <ul class="w3-ul">
              <li>
                <i class="material-icons" style="color:black; size: 16px">navigate_next</i>&emsp;&emsp;&emsp;&emsp;
                <a href="https://www.coursera.org/learn/machine-learning/" title="ML">Machine Learning, Andrew Ng</a>
              </li>
            </ul>
            <hr>
        </div>
      </div>
      <!-- End Right Column -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>
<footer class="w3-container w3-teal w3-center w3-margin-top">
  <!-- Used the text-decoration css style inline to remove underlines from these hrefs -->
  <p>Find me on social media.</p>
  <a href="https://www.facebook.com/sammy.alhashemi" title="Facebook" style="text-decoration: none">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
  </a>
  <a href="https://www.instagram.com/sammyalhashemi/" title="Instagram" style="text-decoration: none">
    <i class="fa fa-instagram w3-hover-opacity"></i>
  </a>
  <a href="https://twitter.com/SammyAlhashemi1" title="Twitter" style="text-decoration: none">
    <i class="fa fa-twitter w3-hover-opacity"></i>
  </a>
  <a href="https://www.linkedin.com/in/sammy-alhashemi-2a9865a1/" title="LinkedIn" style="text-decoration: none">
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </a>
  <a href="https://github.com/Sammyalhashe" title="GitHub" style="text-decoration: none">
    <i class="fa fa-github w3-hover-opacity"></i>
  </a>
</footer>
