<!-- Finder Thingy Project  -->
<div class="projectPanel">
  <!-- Project Heading  -->
  <div class="projectHeading">
    <h2>
      "Finder Thingy"
    </h2>
  </div>
  <!-- Contains the Body + Pictures  -->
  <div class="projectContainer">
    <!-- Body Description of the project -->
    <div class="projectBody col-lg-8 col-md-10 mx-auto">
      <p>
        Early in the summer of 2017, I first ‘dipped my toes’ into the world of software by taking an object-oriented design course.
        I did this because I asked my friend from school what would be a good skill to have and he recommended me to object-oriented
        programming. This course didn’t introduce any traditional “coding-skills”, but it did introduce me to the important
        foundations used in most software projects used in today’s industry. This interested me, so I decided to go farther
        and apply these principles to actual projects. However, I wasn’t very adept at any programming languages. I had a
        MacBook pro at the time, so I decided to try out iOS development in swift by taking a course taught by the same individual.
        This course taught me the basics such as tableviews, delegation, segues, and networking using tools such as Alamofire.
        This course also taught me Swift3.
      </p>

      <p>
        Using the introductory skills taught in this course, I decided to try some of them out on a silly app I decided to call “Finder
        Thingy”. The idea behind this app was to have a personalized list of destinations that I like, and wherever I am,
        I could take out the app and look up the closest location. I used Alamofire to access the Google Maps/Places API
        (with an API key registered in my AppDelegate file) and de-structured the returned JSON to supply the user with direction
        information. This was an introductory app that really wasn’t that great at all, but I’m proud of the fact that it
        was my first.
      </p>
    </div>

    <div>
      <img class="projectImage" src="/assets/images/Federer-Tweener.jpg" alt="Picture">
    </div>
  </div>
  <br>
  <br>
</div>
