@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('../../assets/styles/style.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
div.avatar {
  height: 150px;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.blogDescription {
}

.guideItem {
  background: teal;
  padding: 1px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  cursor: pointer;
  border: 1px;
  border-radius: 2px;
}

.guideItem > a {
  text-decoration: none;
  color: white;
  position: relative;
}

/*
.guideItem>a:before {
    content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.guideItem>a:hover:before {
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
*/

.guideItem:hover {
  color: grey;
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.hiddenList {
  visibility: hidden;
}

div.w3-container.card-explanation {
  background: lightgray;
  opacity: 0.5;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: auto;
  overflow: hidden;
}

a.component-card {
  display: block;
}

img {
  position: relative;
  top: 0px;
  left: 0px;
}

.backgroundIMG1 {
  position: relative;
  width: auto;
  height: auto;
  top: -100px;
  left: auto;
}

.backgroundIMG2 {
  position: relative;
  width: 100%;
  height: 100%;
  top: auto;
  left: auto;
}

.foregroundIMG {
  position: absolute;
  top: 5px;
  left: 5px;
}

.card.guide {
  position: absolute;
  top: 0;
  left: 0;
  background: #487baa;
}

img#tennisPic {
  height: 50vh;
  width: 40vw;
  border-radius: 15px;
}

#guideTitle {
  border-radius: 25px;
  background: linear-gradient(45deg, rgb(84, 90, 96) 50%, teal 50%);
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  #tennisPics {
    display: none;
  }
  #aboutText {
    font-size: 0.5vw;
  }
  .guideBlock {
    display: none;
  }
  .SammyNameSmall {
    display: block;
  }
  .SammyNameLarge {
    display: none;
  }
  .secondContainer.large {
    display: none;
  }
  .secondContainer.small {
    display: block;
  }
  #mainContainer {
    height: auto;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  #tennisPics {
    display: none;
  }
  #aboutText {
    font-size: 0.5vw;
  }
  .guideBlock {
    display: none;
  }
  .SammyNameSmall {
    display: none;
  }
  .SammyNameLarge {
    display: block;
  }
  .secondContainer.large {
    display: none;
  }
  .secondContainer.small {
    display: block;
  }
  #mainContainer {
    /* min-height: 100vh; */
    height: auto;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1024px) {
  #tennisPics {
    display: block;
  }
  #aboutText {
    font-size: 2vw;
  }
  .guideBlock {
    display: block;
  }
  .SammyNameSmall {
    display: none;
  }
  .SammyNameLarge {
    display: block;
  }
  .secondContainer.large {
    display: block;
  }
  .secondContainer.small {
    display: none;
  }

  #mainContainer {
    min-height: 100vh;
    height: 100vh;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1699px) {
  #tennisPics {
    display: block;
  }
  #aboutText {
    font-size: 2vw;
  }
  .guideBlock {
    display: block;
  }
  .SammyNameSmall {
    display: none;
  }
  .SammyNameLarge {
    display: block;
  }
  .secondContainer.large {
    display: block;
  }
  .secondContainer.small {
    display: none;
  }

  #mainContainer {
    min-height: 100vh;
    height: 100vh;
  }
}

@media only screen and (min-width: 1700px) {
  .guideBlock {
    display: none;
  }
  .SammyNameSmall {
    display: none;
  }
  .SammyNameLarge {
    display: block;
  }
  .secondContainer.large {
    display: block;
  }
  .secondContainer.small {
    display: none;
  }

  #mainContainer {
    min-height: 100vh;
    height: 100vh;
  }
}

.blockExplanation {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-color: black;
  height: max-content;
}

.SammyNameLarge {
  font-family: monospace;
}

.SammyNameSmall {
  font-family: monospace;
}

div#contact {
  margin: 0 auto;
  font-size: 2rem;
  word-wrap: break-word;
}

.logobutton {
  height: auto;
}
