<!-- Page content -->
<div class="w3-content" style="max-width:1100px">
  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="..\assets\images\sanFran.jpg" class="w3-round w3-image w3-right w3-opacity-min" alt="Sammy" width="600" height="750">
    </div>
    <div class="w3-col m6 w3-padding-large" id="aboutBlock">
      <h1 class="w3-center">About Sammy</h1>
      <br>
      <blockquote class="w3-large flow-text aboutText">
        Hello visitor! My name is Sammy Al Hashemi. I love tennis and tech! I'm currently enrolled in Engineering Science at the
        University of Toronto and I'm due to graduate in May of 2019. In the menu above, you can find links to my resume
        and my contact information. In addition, you can also find projects I've worked on. By clicking the two photos below,
        you can see some of my favorite tennis and tech photos.
        <br> As you can tell from this page, I am in love (probably too much) with web animations...
      </blockquote>
    </div>
  </div>
  <hr>
  <!-- Header -->
  <div class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <!-- ///////////////////////////////// Tennis /////////////////////////////////////////////////////////////// -->
    <!-- <div class="w3-half" id="tennisPics">
      <a (click)="displayModal('tennisModal')" style="height: 100%" [@caroselAnimation]="this.picNum">
        <img class=" w3-image w3-hover-opacity responsive-img " src="{{this.pictures[this.picNum]}} " alt="Tennis" id="tennisPic">
      </a>
      <div class="w3-display-bottomleft w3-padding-large w3-opacity ">
        <h1 class="w3-xxlarge ">Tennis</h1>
      </div>
    </div>
    <sammy-app-dialog [(visible)]="this.modalShow ">
      <h1>Tennis</h1>
      <p>
        I started playing tennis when I was six-years old and have been in love with the game ever since. It's not only a physical
        battle to outlast your opponent, but it is also a mental chess game, and the winner of the match is the one who often
        plays the right "pieces" at the right time. Of course, I am also a massive fan of Roger Federer. The man has been
        a constant in my childhood and it's amazing he is still here and dominating. Tennis has turned me into who I am today,
        and I'd like to share some of my favorite tennis pictures and pictures I take when I play.
      </p>
      <button (click)="this.modalShow=! this.modalShow " class="btn ">Close</button>
    </sammy-app-dialog> -->
    <!-- ///////////////////////////////// Coding Manuals /////////////////////////////////////////////////////////////// -->
    <div class="w3-half w3-hide-small">
      <div class="w3-container w3-content w3-black" id="guideTitle">
        <h1>Guides</h1>
      </div>
      <div class="w3-row-padding w3-margin-top ">
        <!-- ///////////////////////////////// Python /////////////////////////////////////////////////////////////// -->
        <div class="w3-half ">
          <a (mouseenter)="togglePython() " (mouseleave)="togglePython() " class="component-card ">
            <div class="w3-card avatar ">
              <img src="..\assets\images\python_background.png " class="backgroundIMG1 ">
            </div>
            <div class="w3-container card-explanation " [@hoverOverTransition]="hoverState ">
              <h5>Python</h5>
              <p>
                Learn Some Cool Python Stuff
              </p>
              <ng-container *ngIf='this.hoverState === "Hovered"'>
                <ul>
                  <!--[@listAnimation]="this.items.length "-->
                  <li *ngFor='let item of this.items'>
                    <a [routerLink]="[ '/',item.Link] ">{{ item.Description }}</a>
                    <!-- href='{{item.Link}}' -->
                  </li>
                </ul>
              </ng-container>
            </div>
          </a>
        </div>
        <!-- ///////////////////////////////// Java /////////////////////////////////////////////////////////////// -->
        <div class="w3-half ">
          <a (mouseenter)="toggleJava() " (mouseleave)="toggleJava() " class="component-card ">
            <div class="w3-card avatar ">
              <img src="..\assets\images\java.jpg " class="backgroundIMG2 ">
            </div>
            <div class="w3-container card-explanation " [@JhoverOverTransition]="JhoverState ">
              <h5>Quantum Mechanics</h5>
              <p>
                QM for life
              </p>
              <ng-container *ngIf='this.JhoverState === "JHovered"'>
                <ul>
                  <!--[@listAnimation]="this.items.length "-->
                  <li *ngFor='let item of this.Jitems'>
                    <a href='{{item.Link}}'>{{ item.Description }}</a>
                  </li>
                </ul>
              </ng-container>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Contact Section -->
  <div class="w3-container w3-padding-64 " id="contact">
    <h1>Contact</h1>
    <br>
    <p>Feel free to contact me via email:
      <a href="mailto:sammy.alhashemi@mail.utoronto.ca ">sammy.alhashemi@mail.utoronto.ca</a>
    </p>
    <p>You can also contact me by phone
      <a href="tel:408-908-9512 ">408-908-9512</a>
    </p>
  </div>
  <!-- End page content -->
</div>
<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32 ">
  <p>Find me on social media.</p>
  <a href="https://www.facebook.com/sammy.alhashemi " title="Facebook " style="text-decoration: none ">
    <i class="fa fa-facebook-official w3-hover-opacity "></i>
  </a>
  <a href="https://www.instagram.com/sammyalhashemi/ " title="Instagram " style="text-decoration: none ">
    <i class="fa fa-instagram w3-hover-opacity "></i>
  </a>
  <a href="https://twitter.com/SammyAlhashemi1 " title="Twitter " style="text-decoration: none ">
    <i class="fa fa-twitter w3-hover-opacity "></i>
  </a>
  <a href="https://www.linkedin.com/in/sammy-alhashemi-2a9865a1/ " title="LinkedIn " style="text-decoration: none ">
    <i class="fa fa-linkedin w3-hover-opacity "></i>
  </a>
  <a href="https://github.com/Sammyalhashe " title="GitHub " style="text-decoration: none ">
    <i class="fa fa-github w3-hover-opacity "></i>
  </a>
</footer>