<br>
<br>
<style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  p {
    font-size: 16px;
  }

  .margin {
    margin-bottom: 45px;
  }

  .bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
  }

  .bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
  }

  .bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
  }

  .bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav li a:hover {
    color: #1abc9c !important;
  }
</style>
<!-- First Container -->
<div class="container-fluid bg-1 text-center mainContainer" id="mainContainer">
  <h1 class="margin SammyNameLarge">
    <!-- (complete)='this.onTypingComplete()' -->
    <span typingAnimation [typeSpeed]="25" [startDelay]="1000">Sammy Al Hashemi</span>
    <br>
    <span class="typed"></span>
  </h1>
  <h1 class="margin SammyNameSmall">
    <!--(complete)='this.onTypingComplete()'-->
    <span typingAnimation [typeSpeed]="25" [startDelay]="1000">Sammy</span>
  </h1>

  <img [@picAnimation]="this.picExpand" id="picME" src="/assets/images/sanFran.jpg" class="img-responsive img-circle margin"
    style="display:inline" alt="Picture of Me" width="350" height="350">
</div>


<!-- Second Container -->
<div [@secContAnimation]="this.secondContainerEnter" class="container-fluid bg-2 text-center secondContainer large" id="secondContainer"
  style="opacity:0">
  <h3 class="margin">Who Am I?</h3>
  <p>Hello visitor! My name is Sammy Al Hashemi. I love tennis and tech! I'm currently enrolled in Engineering Science at the
    University of Toronto and I'm due to graduate in May of 2019. In the menu above, you can find links to my resume and
    my contact information. In addition, you can also find projects I've worked on. By clicking the two photos below, you
    can see some of my favorite tennis and tech photos.
    <br> As you can tell from this page, I am in love (probably too much) with web animations...
  </p>
</div>

<div class="container-fluid bg-2 text-center secondContainer small">
  <h3 class="margin">Who Am I?</h3>
  <p>Hello visitor! My name is Sammy Al Hashemi. I love tennis and tech! I'm currently enrolled in Engineering Science at the
    University of Toronto and I'm due to graduate in May of 2019. In the menu above, you can find links to my resume and
    my contact information. In addition, you can also find projects I've worked on. By clicking the two photos below, you
    can see some of my favorite tennis and tech photos.
    <br> As you can tell from this page, I am in love (probably too much) with web animations...
  </p>
</div>

<!-- Third Container (Grid) -->
<div [@thirdContAnimation]="this.thirdContainerEnter" id="thirdContainer" class="container-fluid bg-6 text-center guideBlock">
  <h3 class="margin">Guides</h3>
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-2">
      <div class="component-card ">
        <!--div (mouseenter)="togglePython() " (mouseleave)="togglePython() " class="component-card "-->
        <div class="w3-card avatar ">
          <img src="/assets/images/python_background.png " class="backgroundIMG1 ">
        </div>
        <div class="w3-container card-explanation " [@hoverOverTransition]="hoverState">
          <div class="blogDescription">
            <h3>Python</h3>
            <p>
              Learn Some Cool Python Stuff
            </p>
          </div>
          <div class="expCont">
            <ng-container *ngIf='this.hoverState === "Hovered"'>
              <ul [@listAnimation]>
                <!--[@listAnimation]="this.items.length "-->
                <li class="guideItem" *ngFor='let item of this.items'>
                  <a [routerLink]="[ '/guides',item.Link] ">
                    <div>{{ item.Description }}</div>
                  </a>
                  <!-- href='{{item.Link}}' -->
                </li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-2">
      <div class="component-card ">
        <!--div (mouseenter)="toggleJava() " (mouseleave)="toggleJava() " class="component-card"-->
        <div class="w3-card avatar ">
          <img src="/assets/images/java.jpg " class="backgroundIMG2 ">
        </div>
        <div class="w3-container card-explanation " [@JhoverOverTransition]="JhoverState">
          <div class="blogDescription">
            <h3>Quantum Mechanics</h3>
            <p>
              QM for life
            </p>
            <div class="expCont">
              <ng-container *ngIf='this.JhoverState === "JHovered"' [@listAnimation]>
                <ul [@listAnimation]>
                  <!--[@listAnimation]="this.items.length "-->
                  <li class="guideItem" *ngFor='let item of this.Jitems'>
                    <a [routerLink]="[ '/guides',item.Link]">{{ item.Description }}</a>
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-8 blockExplanation">
      <img src="/assets/images/favicon-5.ico" alt="logo">
      <blockquote>
        I am going into my fourth year of Engineering Science at UofT. My thesis project is to write scalable versions of Shore's
        and Grovers Quantum algorithms. Because teaching is the best way to learn, I've decided to write guides/blogs on
        various ways I've gotten ready to do this. Python is a big part of Quantum Algorithms as a majority of the Quantum
        SDK's (IMBQ and Rigetti Forest) make use of Python. Obviously, I also needed to have a solid grounding in QM. This
        is why I chose these two sections.
      </blockquote>
    </div>
  </div>
  <hr>
</div>

<!-- Contact Section -->
<div class="container-fluid bg-3 text-center" id="contact">
  <h1>Contact Information</h1>
  <br>
  <p>Feel free to contact me via email:
    <a>sammy(dot)alhashemi(at)mail(dot)utoronto(dot)ca</a>
  </p>
  <!-- <p>You can also contact me by phone
    <a href="tel:408-908-9512 ">408-908-9512</a>
  </p> -->
</div>
<!-- End page content -->

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32 ">
  <p>Find me on social media.</p>
  <a href="https://www.facebook.com/sammy.alhashemi " title="Facebook " style="text-decoration: none ">
    <i class="fa fa-facebook-official w3-hover-opacity "></i>
  </a>
  <a href="https://www.instagram.com/sammyalhashemi/ " title="Instagram " style="text-decoration: none ">
    <i class="fa fa-instagram w3-hover-opacity "></i>
  </a>
  <a href="https://twitter.com/SammyAlhashemi1 " title="Twitter " style="text-decoration: none ">
    <i class="fa fa-twitter w3-hover-opacity "></i>
  </a>
  <a href="https://www.linkedin.com/in/sammy-alhashemi-2a9865a1/ " title="LinkedIn " style="text-decoration: none ">
    <i class="fa fa-linkedin w3-hover-opacity "></i>
  </a>
  <a href="https://github.com/Sammyalhashe " title="GitHub " style="text-decoration: none ">
    <i class="fa fa-github w3-hover-opacity "></i>
  </a>
  <hr>
  <button type="button" class="btn btn-primary logobutton" [ngx-scroll-to]="'#top'" [ngx-scroll-to-duration]="1500">
    Back to Top
  </button>
</footer>