<!--Navbar (sit on top) -->

<div class="w3-top largeNav">
    <div class="w3-bar w3-black w3-padding w3-card teal lighten-2" id="navigation-bar" style="letter-spacing:4px;">
        <button [routerLink]="['/home']" class="w3-bar-item w3-button">Sammy Al Hashemi</button>

        <div class="w3-right w3-hide-small">
            <button [routerLink]=" [ '/resume'] " class="w3-bar-item w3-button ">Resume</button>
            <button [routerLink]="[ '/projects'] " class="w3-bar-item w3-button ">Projects</button>
            <button href="#contact " class="w3-bar-item w3-button ">Contact</button>
        </div>
    </div>
</div>

<div class="w3-top medNav">
    <div class="w3-bar w3-black w3-padding w3-card teal lighten-2" id="navigation-bar" style="letter-spacing:4px;">
        <button [routerLink]="['/home']" class="w3-bar-item w3-button">Sammy Al Hashemi</button>
        <div class="w3-right w3-hide-small">
            <button [matMenuTriggerFor]="menu" class="w3-bar-item w3-button ">
                Guides
            </button>
            <button [routerLink]=" [ '/resume'] " class="w3-bar-item w3-button ">Resume</button>
            <button [routerLink]="[ '/projects'] " class="w3-bar-item w3-button ">Projects</button>
            <button href="#contact " class="w3-bar-item w3-button ">Contact</button>
        </div>
    </div>
</div>


<div class="w3-top smallNav">
    <div class="w3-bar w3-black w3-padding w3-card teal lighten-2" id="navigation-bar" style="letter-spacing:4px;">
        <button [routerLink]="['/home']" class="w3-bar-item w3-button">
            <mat-icon>home</mat-icon>
        </button>
        <div class="w3-right" id="buttonsHolder">
            <button [matMenuTriggerFor]="menu" class="w3-bar-item w3-button ">
                Guides
            </button>
        </div>
        <div class="w3-right" id="buttonsHolderSmall">
            <button [matMenuTriggerFor]="menu" class="w3-bar-item w3-button">
                <mat-icon>list</mat-icon>
            </button>
        </div>
    </div>
</div>
<mat-menu [overlapTrigger]="false" #menu="matMenu">
    <button mat-menu-item [routerLink]=" [ '/resume'] ">Resume</button>
    <button mat-menu-item [routerLink]="[ '/projects'] ">Projects</button>
</mat-menu>


<div [@routeAnimation]='prepRouteState(routerOutlet)'>
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div>