<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-padding w3-card" id="navigation-bar" style="letter-spacing:4px;">
    <a [routerLink]="['/home']" class="w3-bar-item w3-button">Sammy Al Hashemi</a>

    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a [routerLink]="[ '/resume']" class="w3-bar-item w3-button">Resume</a>
      <a [routerLink]="[ '/projects']" class="w3-bar-item w3-button">Projects</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>
<div [@routeAnimation]='prepRouteState(routerOutlet)'>
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

