@import url("https://www.w3schools.com/w3css/4/w3.css");
#sammylogo {
  display: none;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* bootstrap */

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
}

.bg-1 {
  background-color: #1abc9c;
  /* Green */
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d;
  /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .largeNav {
    display: none;
  }
  .medNav {
    display: none;
  }
  .smallNav {
    display: block;
  }
  #buttonsHolder {
    display: none;
  }
  #buttonsHolderSmall {
    display: block;
  }
}

@media only screen and (min-width: 401px) and (max-width: 756px) {
  .largeNav {
    display: none;
  }
  .medNav {
    display: none;
  }
  .smallNav {
    display: block;
  }
  #buttonsHolderSmall {
    display: none;
  }
}

@media only screen and (min-width: 757px) and (max-width: 960px) {
  .largeNav {
    display: none;
  }
  .medNav {
    display: block;
  }
  .smallNav {
    display: none;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1024px) {
  .largeNav {
    display: block;
  }
  .smallNav {
    display: none;
  }
  .medNav {
    display: none;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1699px) {
  .largeNav {
    display: block;
  }
  .smallNav {
    display: none;
  }
  .medNav {
    display: none;
  }
}

@media only screen and (min-width: 1700px) {
  .largeNav {
    display: none;
  }
  .smallNav {
    display: none;
  }
  .medNav {
    display: block;
  }
}
