<!-- Website Project  -->
<div class="projectPanel">
  <!-- Project Heading  -->
  <div class="projectHeading">
    <h2>
      This Website
    </h2>
  </div>
  <!-- Contains the Body + Pictures  -->
  <div class="projectContainer">
    <!-- Body Description of the project -->
    <div class="projectBody col-lg-8 col-md-10 mx-auto">
      <p>
        I won't dive too deeply into the details of this website because, well, you're already on it (haha), but I will talk about
        it's development. This website is a single-page application written in an angular4 frontend. It consists of a main
        page with a navigation bar defined in the index.html file. Underneath the navigation bar is a router directive for
        which Angular places all of the applications routed-components. These routed-components include the home page that
        introduces me, a resume page, a projects page, and a separate blog page. I toyed with many of Agular’s features,
        some of, my favorites being the animations and routing animations. I followed the material design guidelines to help
        create a modern-looking website and am always looking for suggestions on how to improve it as this is my first website.
        I decided on the brighter colour-scheme because I think it matches well with my favorite outdoor sport tennis.
      </p>

    </div>

    <div>
      <!--<img class="projectImage" src="/assets/images/website.JPG" alt="Picture">-->
      <img class="projectImage" [src]="this.url | async" alt="Picture">
    </div>
  </div>
  <br>
  <br>
</div>
