<!-- PEY Project  -->
<div class="projectPanel">
  <!-- Project Heading  -->
  <div class="projectHeading">
    <h2>
      PEY
    </h2>
  </div>
  <!-- Contains the Body + Pictures  -->
  <div class="projectContainer">
    <!-- Body Description of the project -->
    <div class="projectBody col-lg-8 col-md-10 mx-auto">
      <p>
       In 2017/2018, I was lucky to do an internship in San Jose, California at Microsemi/Microchip (we were acquired by Microchip in the latter half of the year). At the end of the year, I wrote a report that summarized my time there. You can read it below.
      </p>

    </div>

    <div>
    </div>
  </div>
  <br>
  <br>
  <div class="report-holder">
    <a id="PDFDownload" [href]="this.reportURL" target="_blank" download>Download Report</a>
  </div>
</div>
